.ant-tabs-ink-bar{
    display: none;
}
.ant-tabs-nav-list{
    padding: 8px 0;
}
.ant-tabs-nav::before{
    display: none;
}
.ant-tabs-tab{
    padding: 0;
    font-weight: 600;
    color: #68818F;
}
.ant-tabs-tab + .ant-tabs-tab{
    margin: 0;
}
.ant-tabs-tab .ant-tabs-tab-btn{
    padding: 2px 10px;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    background: #1890ff;
    color: white;
    border-radius: 32px;
}
.ant-tabs-card .ant-tabs-tab .ant-tabs-tab-btn{
    padding: 8px 14px;
}
.ant-tabs-card .ant-tabs-tab:hover{
    color: #424B50;
}
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab{
    padding-top: 6px;
}