.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #b8c7ce36;
}

.ant-menu-item {
    font-size: 14px;
    font-weight: 700;
}

.ant-menu-light .ant-menu-item:hover {
    color: #ff5722;
}

.ant-menu-light .ant-menu-item-active {
    color: #ff5722;
}

.ant-menu-item-selected {
    color: #ff5722;
}

.ant-menu-inline .ant-menu-item::after {
    border-right: 0;
    border-left: 3px solid #ff5722;
    left: 0;
}
.ant-tabs-card .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
background-color: white;
color: #424B50;
border:1px solid #DEE2E6 ;
border-bottom: none;
}
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab{
border-right: 0;
border-left: 0;
}
.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab{
    margin-left: 0;
}
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab{
    padding: 0;
}
.ant-tabs-card .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    border-radius: 0;
}
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab{
    border-color: #DEE2E6;
}